# dependencies
node_modules/
.pnpm-store/

# build output
dist/
*.tsbuildinfo

# Tauri
packages/desktop/src-tauri/target/

# RN / Metro
packages/tv/.metro-health-check*
packages/tv/android/build/
packages/tv/android/.gradle/
packages/tv/ios/Pods/
packages/tv/ios/build/

# misc
.DS_Store
*.log
.env
.env.local
